<%= render "devise/shared/login_background" %>

<%= render "devise/shared/form_template",
  form_title: "Edit #{resource_name.to_s.humanize}",
  form_url: registration_path(resource_name),
  form_html: { method: :put },
  fields: [
    { name: :email, type: :email, options: { autofocus: true, autocomplete: "email" } },
    { name: :password, type: :password, hint: "Leave blank if you don't want to change it", options: { autocomplete: "new-password" } },
    { name: :password_confirmation, type: :password, options: { autocomplete: "new-password" } },
    { name: :current_password, type: :password, hint: "We need your current password to confirm your changes", options: { autocomplete: "current-password" } }
  ],
  submit_text: "Update",
  show_remember_me: false,
  show_links: false,
  show_errors: true %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
